{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper container mx-auto">

		<div class="mx-auto my-10 md:flex md:justify-between px-4 md:px-0">
			<div class="card md:w-7/12 my-6 max-w-[617px]">
				<h2 class="mb-4 text-4xl text-marrom font-bold">Doação</h2>
				<p class="mb-2 text-xl text-marrom font-bold">Ajude a manter nossos serviços</p>
				<p class="mb-2 text-cinza">Na Inclusivas nas Artes, nos dedicamos a intensificar nossos 
				esforços para abordar essa questão. A inclusão social não é de forma alguma uma tarefa fácil, 
				mas através da cooperação e do empoderamento da comunidade, acreditamos que podemos 
				facilitar o progresso nessa área. Estamos sempre nos esforçando para fazer a diferença e 
				convidamos você a aprender mais e dar seu apoio.</p>

				<h2 class="my-4 text-xl text-marrom font-bold">Dados para doação</h2>
				<table class="my-4 border border-marrom">
					<tr>
						<td class="p-4">
							<p class="mb-4 font-bold text-lg">Associação Inclusive nas Artes</p>
							<p><span class="font-bold">CNPJ:</span> 31.446.953/0001-01</p>
							<p class="mb-2">
								<span class="font-bold">Banco:</span> 341 - Banco Itaú<br> 
								<span class="font-bold">Agência:</span> 6629<br> 
								<span class="font-bold">Conta Corrente:</span> 31210-6</p>
							<p class="mb-2"><span class="font-bold">PIX CNPJ:</span> 31446953000101</p>
						</td>
					</tr>
				</table>
				<p class="mb-2">Favor em casos de depósito ou transferência informar por email: <br> <strong>rodrigo.matos@inclusivenasartes.org</strong> ou pelo Whatsapp: <strong class="whitespace-nowrap">+55 41 99697-4057</strong><br>
				<p class="mb-2">Assim que confirmado o crédito, emitiremos o recibo de doação.</p>
			</div>
			<div class="card md:w-5/12 md:pl-12 my-6">
				<img class="w-full max-w-[495px]" src="https://placekitten.com/495/511" alt="">
			</div>
		</div>

	</div><!-- /content-wrapper -->
{% endblock %}